#divCart {
    position: absolute;
    top: 14.5vh;

    left: 50%;
    transform: translateX(-50%);

    padding: 2vh;
}

.prodCart {
    padding: 3vh;

    display: grid;
    grid-template-columns: min-content min-content min-content;
    column-gap: 10vh;
}

.prodCart img {
    width: 12vh;

    margin-bottom: 1vh;

    border: 1px solid #FF4D29;
    border-radius: 8px;
}

#divProdInfo {
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 2vh;
}

#divProdInfo h3, h4 {
    text-align: left;
}

#divProdInfo h3 {
    width: 35vh;
}

#divProdInfo h4 {
    color: #999999;
}

#divProdQtd {
    text-align: center;
}

#divAdjustQtd {
    top: 0.5vh;
    left: 15%;

    display: grid;
    grid-template-columns: min-content min-content min-content;
    column-gap: 0.5vh;
}

.icAdjustQtd {
    width: 2.5vh;
    height: 2.5vh;

    color: #FF4D29;

    cursor: pointer;
}

#divProdValor {
    width: 10vh;
    text-align: center;
}

#divProdValor #hValor {
    top: 0.5vh;
    color: #FF4D29;
}

#divCartTotal {
    width: min-content;
    left: 69%;

    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 5vh;
}

#divCartTotal #hTotal {
    width: 15vh;
    color: #FF4D29;
}

.divLine {
    left: 50%;
    transform: translateX(-50%);

    margin-top: 4vh;
    margin-bottom: 4vh;

    border-top: 1px solid #FF4D29;
}

.lineMenor {
    width: 50vh;
}

.lineMaior {
    width: 90vh;
}

#divFinalCart {
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 3vh;
}

#colCupomFrete {
    display: grid;
    grid-template-rows: min-content min-content;
}

.rowCupomFrete {
    padding: 2vh;

    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 2vh;
}

.rowCupomFrete input {
    top: 50%;
    transform: translateY(-50%);
}

.rowCupomFrete a {
    position: absolute;

    top: 7vh;
    left: 6vh;

    text-decoration: none;
    color: #FF4D29;
}

#divRecadoEntrega {
    width: 28vh;
    height: 9vh;

    position: absolute;
    top: -8vh;
    left: 21.5vh;

    padding: 0.5vh;

    z-index: 2;

    background-color: #FF4D29;

    display: none;
}

#divTrianguloRecadoEntrega {
    width: 0; 
    height: 0;

    left: 4vh;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #FF4D29;
}

#divRecadoEntrega p {
    text-align: justify;
}

#divTotalCart {
    width: 35vh;
    height: 25vh;

    padding: 1vh;

    top: 50%;
    transform: translateY(-50%);

    border: 1px solid #FF4D29;
}

#divTotalCart strong {
    color: #FF4D29;
}

#divTotalCart button {
    margin-bottom: 2vh;
}