#divTopoHome {
    width: 100%;
    height: 70vh;

    top: 14.5vh;
    z-index: -1;

    background-image: url("../img/topoHome.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#divInfoTopoHome {
    width: 100vh;
    height: 50vh;

    margin-bottom: 14.5vh;

    padding: 4vh;

    border: 5px solid #FF4D29;
    border-radius: 10px 120px 10px 120px;

    backdrop-filter: blur(10px);

    background-color: rgba(0, 0, 0, 0.5);

    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 10vh;
}

#divInfoTopoHome h1 {
    width: 42vh;

    margin-top: -2.5vh;
    margin-left: 5vh;

    color: white;

    text-align: left;
}

#divInfoTopoHome p {
    width: 42vh;

    margin-top: -13vh;
    margin-left: 5vh;

    color: #C1C1C1;

    text-align: justify;
}

.imgTopoHome {
    max-width: 30vh;

    border: 1px solid #FFFF;
    border-radius: 3px;
}

#topoHomeImg1 {
    top: 4vh;
    right: 5vh;

    z-index: 1;
}

#topoHomeImg2 {
    top: 1vh;

    z-index: 0;
}

#divBackNossosProdutos {
    width: 100%;
    height: 80vh;

    background-color: #051E32;
}

#divNossosProdutos {
    width: min-content;
    height: 100vh;

    top: 8vh;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 3vh;

    background-color: #ffff;
}

#titleNossosProdutos {
    color: #ffff;
    text-align: left;

    position: absolute;    
    top: -6vh;
}

#divProdutos {
    padding: 2vh;

    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content;
    column-gap: 4vh;
}

.prodHome {
    width: min-content;
}

.prodHome img {
    width: 70%;

    margin-bottom: 1vh;

    border: 1px solid #FF4D29;
    border-radius: 8px;
}

.prodHome h3 {
    width: 100%;
    height: 11vh;
    color: #13293B;

    margin-bottom: 1vh;

    overflow: hidden;
    text-overflow: ellipsis;
}

.prodHome h2 {
    height: min-content;

    color: #FF4D29;

    margin-bottom: 1vh;
}

.prodHome button {
    margin-bottom: 4vh;
}

/* Diminuimos as colunas de acordo com o tamanho da tela */
@media only screen and (max-width: 1200px) {
    #divProdutos  {
        grid-template-columns: min-content min-content min-content min-content;
    }
}

@media only screen and (max-width: 990px) {
    #divProdutos  {
        grid-template-columns: min-content min-content min-content;
    }
}

@media only screen and (max-width: 750px) {
    #divProdutos  {
        grid-template-columns: min-content min-content;
    }
}