* {
    margin: 0vh;
    padding: 0vh;
    box-sizing: border-box;
    font-family: calibri;
    position: relative;
    text-align: center;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

select:focus {
    outline: none;
}