* {
    margin: 0vh;
    padding: 0vh;
    box-sizing: border-box;
    font-family: calibri;
    position: relative;
    text-align: center;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

input:focus {
    outline: none;
}

.btnPadrao {
    background: #FF4D29;
    color: white;

    width: 14vh;
    height: 3.5vh;

    border: 0px;
    border-radius: 7px;

    font-size: 2vh;
}