#divAlerta {  
    width: 80vh;
    height: 7vh;
    left: 50%;
    top: -7vh;
    position: relative;
    transform: translateX(-50%);

    border-radius: 0.5vh;

    -webkit-animation: alertIn 0.5s forwards;
    -webkit-animation-delay: 0s;
    animation: alertIn 0.5s forwards;
    animation-delay: 0s;
}

#divAlerta.alert-out {
    /* Animacao de saida
       Classe adicionada via script */
    top: -1vh;

    -webkit-animation: alertOut 0.5s forwards;
    -webkit-animation-delay: 0s;
    animation: alertOut 0.5s forwards;
    animation-delay: 3s;
}

#divAlerta p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

@-webkit-keyframes alertIn {
    100% { top: -1vh; }
}

@keyframes alertIn {
    100% { top: -1vh; }
}

@-webkit-keyframes alertOut {
    100% { top: -10vh; }
}

@keyframes alertOut {
    100% { top: -10vh; }
}

/* Para identificar o tipo do alerta
   erro    => para mensagens de erro
   sucesso => para mensagens de sucesso
   alerta  => para mensagens de alerta
   */
.erro {
    background-color: #de5b5b;
    border: 1px solid #ed4444;
}

.sucesso {
    background-color: #4add63;
    border: 1px solid #0ca532;
}

.alerta {
    background-color: #e0a627;
    border: 1px solid #df7117;
}