.btnPadrao {
    background: #FF4D29;
    color: white;

    width: 22vh;
    height: 5vh;

    border: 0px;
    border-radius: 7px;

    font-size: 2.5vh;
}

#icEnter {
    margin-right: 2vh;
    color: #FFFFFF;
}

.btnPadrao:hover {
    background: #FFFFFF;
    color: #FF4D29;
    border: 1px solid #FF4D29;
}

.btnPadrao:hover #icEnter {
    color: #FF4D29;
}

.btnPadrao:focus {
    background: #FFFFFF;
    color: #FF4D29;
    border: 1px solid #FF4D29;
}

.btnPadrao:focus #icEnter {
    color: #FF4D29;
}