.btnPadrao {
    background: #FF4D29;
    color: white;

    width: 22vh;
    height: 5vh;

    border: 0px;
    border-radius: 7px;

    font-size: 2.5vh;
}

#icEnter {
    margin-right: 2vh;
    color: #FFFFFF;
}