.divHeader {
    width: 100%;
    height: 12vh;
    position: fixed;

    z-index: 2;

    align-items: center;

    background-color: #051E32;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 12vh;
    column-gap: 8vh;
}

.imgLogo {
    max-width: 25vh;
    width: auto;
    height: auto;

    position: relative;

    cursor: pointer;
}

#colImg {
    justify-self: end;
}

#colSearch {
    justify-self: center;
}

#colIcons {
    
}

.IconHeader {
    color: #FF4D29;
    margin: 2vh;

    cursor: pointer;
}

#cartItens {
    width: 2vh;

    position: fixed;

    top: 6vh;
    left: 83.5%;

    z-index: 2;

    background-color: #FF4D29;
    color: #FFFF;
    
    background-color: #FFFF;
    color: #FF4D29;

    border-radius: 100px;
}

#divHeaderBottom {    
    width: 100%;
    height: 2.5vh;

    position: fixed;

    top: 12vh;

    background-color: #FF4D29;
}