#inpSearchBar {
    width: 50vh;

    text-align: left;
    padding: 1vh;
    margin: 0vh;

    position: relative;

    border: 1px solid #FF4D29;
    border-radius: 8px;    
}

/* Diminuimos o tamanho da barra de acordo com o tamanho da tela */
@media only screen and (max-width: 1200px) {
    #inpSearchBar  {
        width: 40vh;
    }
}

@media only screen and (max-width: 990px) {
    #inpSearchBar  {
        width: 30vh;
    }
}

@media only screen and (max-width: 750px) {
    #inpSearchBar  {
        width: 15vh;
    }
}

#divIcSearch {
    height: 100%;

    position: absolute;

    top: 0vh;
    right: 0vh;

    padding: 1vh;

    background-color: #FF4D29;

    border: 0.5px solid #FF4D29;
    border-radius: 0px 8px 8px 0px;    
}

#icSearch {
    color: #FFFFFF;
}

#divIcSearch:hover {
    background-color: #FFFFFF;
    border: 0.5px solid #FF4D29;
}

#divIcSearch:hover #icSearch {
    color: #FF4D29;
}