#inpSearchBar {
    width: 50vh;
    margin: 0vh;

    position: relative;

    border: 1px solid #FF4D29;
    border-radius: 8px;
}

#icSearch {
    position: absolute;
    right: 0vh;

    border-radius: 0px 8px 8px 0px;

    padding: 1vh;
    margin: 0vh;

    background-color: #FF4D29;
    color: #FFFFFF;
}

#icSearch:hover {
    background-color: #FFFFFF;
    color: #FF4D29;
    border: 0.5px solid #FF4D29;
    height: 2.3vh;
}