#divProdutoView {
    width: min-content;
    
    top: 16vh;
    left: 50%;
    transform: translateX(-50%);

    padding: 2vh;

    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 3vh;
}

#divProdutoView img {
    max-width: 50vh;

    top: 50%;
    transform: translateY(-50%);

    border: 1px solid #FF4D29;
    border-radius: 7px;
}

#divProdutoView h2 {
    width: 200%;
}

#divProdutoViewInfos {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    row-gap: 1vh;
}

#ProdutoViewNome {
    width: 200%;

    margin-bottom: 0vh;

    text-align: left;
}

#ProdutoViewPreco {
    width: max-content;

    margin: 0vh;

    color: #FF4D29;
}

#divProdutoComprar {
    margin-top: 1vh;

    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 4vh;
}

#divProdutoComprar select {
    top: 50%;
    transform: translateY(-50%);
}

#divProdutoAdjustQtd {
    top: 50%;
    transform: translateY(-50%);

    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-columns: min-content min-content min-content;
    column-gap: 0.5vh;
}

#divProdutoView button {
    margin-top: 3vh;
}

/* Diminuimos o tamanho do quadro de acordo com o tamanho da tela */
@media only screen and (max-width: 1200px) {
    #divProdutoView  {
        width: 90vh;
    }

    #ProdutoViewNome  {
        width: 145%;
    }
}

@media only screen and (max-width: 990px) {
    #divProdutoView  {
        width: 80vh;
    }

    #ProdutoViewNome  {
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    #divProdutoView  {
        width: 45vh;

        grid-template-columns: min-content;
        justify-content: center;
    }

    #divProdutoView img {
        max-width: 40vh;
    }

    #ProdutoViewNome {
        width: 100%;
    }
}